.logo {
  font-family: 'Berkshire Swash', cursive;
  margin-top: 0px;
  width: 56%;
  font-size: 3.1em;
  margin-bottom: 0;
  color: #000;
  font-weight: 100;
}
.search-bar input[type="submit"] {
  background: url(/images/search.png?ab231e0de6bd5daf7bbe6f2a66eba3dd) no-repeat 0px 0px;
  outline: none;
  -webkit-appearance: none;
  border: 0;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 24px;
  height: 24px;
  top: 0px;
  left: 0px;
  cursor: pointer;
}
.footer {
  margin-top: 70px;
}
.copy {
  background: #2c58ed;
  padding: 2em 0;
  text-align: center;
  color: #fff;
}
.container-title span {
  font-size: 2em;
  border-bottom: 3px solid #666;
  border-radius: 5px;
}
.about-grids {
  margin-top: 4em;
}
.about-grids img {
  max-width: 100%;
}
.year {
  float: left;
  width: 17%;
  margin-right: 5%;
  background: #D8D8D8;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  padding: 1.6em 0;
  font-size: 1.6em;
  color: #fff;
}
.year2 {
  background: #2c58ed;
}
.qualification {
  float: left;
  width: 77%;
}
.qualification h4 {
  color: #000000;
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 0.5em;
}
.qualification p {
  color: #999999;
  font-size: 1.4em;
  font-weight: 300;
}
.img-list div {
  margin-top: 10px;
}
.view {
  overflow: hidden;
  position: relative;
  -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 1;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.view:hover {
  -webkit-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
#show-img {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  vertical-align: middle;
}
#show-img img {
  max-width: 100%;
}
#show-img .title {
  font-size: 2em;
  color: #fff;
}
#show-img .title span:last-child {
  float: right;
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  color: #000;
  cursor: pointer;
}
.show-img-container {
  width: 50%;
  height: 50%;
  position: fixed;
  top: 20%;
  left: 25%;
}
